---
layout: default
---

<div class="home">

  <table class='icon-table'>
  <tr>
    {% if false %}
    <td>
        <a href='libraries/'>
        <div class='icon-box'>
            <div class='top'><i class="fa fa-inverse fa-project-diagram"></i></div>
            <div class='bottom'>Projects</div>
        </div>
        </a>
    </td>
    <td>
        <a href='tips/'>
        <div class='icon-box'>
            <div class='top'><i class="fa fa-inverse fa-thumb-tack"></i></div>
            <div class='bottom'>Tips</div>
        </div>
        </a>
    </td>
    <td>
        <a href='legacy/'>
        <div class='icon-box'>
            <div class='top'><i class="fa fa-inverse fa-pagelines"></i></div>
            <div class='bottom'>Legacy</div>
        </div>
        </a>
    </td>
    {% endif %}
  </tr>
  </table>

  <h1>Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      {{ post.excerpt }}
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
