{% assign crumb_array = page.url | split:'/' | shift %}
{% assign crumbs = '' | split: '' %}
{% assign working_crumb = '' | split: '' %}

{% for crumb in crumb_array %}
    {% assign working_crumb = working_crumb | push: crumb %}
    {% assign this_crumb = working_crumb %}
    {% assign this_crumb_path = this_crumb | join:'/' | prepend:'/'%}
    {% unless this_crumb_path contains ".html" %}
      {% assign this_crumb_path = this_crumb_path | append:'/'%}
    {% endunless %}
    {% assign crumbs = crumbs | push: this_crumb_path %}
{% endfor %}

<div class="breadcrumb-wrapper">
  <ol class="breadcrumb">
    <li><a href="{{ site.baseurl }}/"><i class="fa fa-home"></i></a></li>
    {% for crumb in crumbs %}
      {% for curpage in site.pages %}
        {% unless curpage.url == crumb %} {% continue %} {% endunless %}
        {% assign crumbpage = curpage %}
        {% break %}
      {% endfor %}
      {% if crumbpage %}
        <li> |
            <a href='{{crumb}}'>{{crumbpage.title|escape}}</a>
        </li>
      {% endif %}
    {% endfor%}
  </ol>
</div>
