<footer class="site-footer">
  <div class="wrapper">
    <h2 class="footer-heading">{{ site.title }} &mdash; {{ site.subtitle }}</h2>
    <table class='footer-table'>
        <tr>
            <td class='footer-left'>
            </td>
            <td class='footer-center'>
            </td>
            <td  class='footer-right'>
                Last updated: {{ site.time }}
            </td>
        </tr>
    </table>
  </div>
</footer>
