<div class="theme">
    <a id="theme-switcher" style="cursor: pointer;"></a>
</div>

<script type="text/javascript">
    'use strict';
    {
        const key = "theme";
        const switcher = document.getElementById("theme-switcher");
        const content = document.getElementById("site-wrapper");

        function theme(name, next) {
            if (name === "dark") {
		        set('{{ "/css/main-dark.css" | prepend: site.baseurl }}');
                set('{{ "/css/mermaid.dark.css" | prepend: site.baseurl }}', "mermaid-style");
            }
            else {
		        set('{{ "/css/main-light.css" | prepend: site.baseurl }}');
                set('{{ "/css/mermaid.css" | prepend: site.baseurl }}', "mermaid-style");
            }

            store(name);

            switcher.textContent = next + " theme";
        }

        function set(url, id_override){
            var id = "main-style";

            if(id_override !== undefined) {
                id = id_override
            }

            // Hide content while changing styles to avoid flashing unstyled content
            content.style.display = "none";

            let style = document.getElementById(id);
            var parent = null;
            if(style === undefined || style === null) {
                parent = document.getElementById("main-style").parentElement;
            }
            else {
                parent = style.parentElement;
                parent.removeChild(style);
            }
            style = document.createElement('link');
            style.type = 'text/css';
            style.rel = 'stylesheet';
            style.id = id;
            style.onload = () => {
                content.style.display = "initial";
            };
            style.href = url;
            parent.appendChild(style);
        }

        function store(name){
            localStorage.setItem(key, name);
        }

        function load() {
            let name = localStorage.getItem(key);
            if (name == 'undefined' || name == undefined) {
                name = "light";            
            }
            
            return name;
        }

        function swap() {
            const name = load();

            theme(next(name), name);
        }

        function next(current) {
            if (current === "light") {
                return "dark";
            } else {
                return "light";
            }
        }

        // Load saved theme
        const name = load();
        theme(name, next(name));

        // Hook up switch handler
        switcher.onclick = event => {
            swap();
        };
    }
</script> 
